<div class="container">


<div class="card text-dark bg-light mb-3" style="max-width: 22rem;">
    <div class="card-header">user info:</div>
    <div class="card"  style="width: 18rem;">
        <ul class="list-group list-group-flush">
            <li class="list-group-item"> <b>name:</b> {{info.login}} </li>
            <li class="list-group-item"> <b>location:</b>{{info.location}} </li>
            <li class="list-group-item"> <b>url:</b> {{info.url}} </li>
            <li class="list-group-item"> <b>company:</b> {{info.company}} </li>
          </ul>
          <img src="{{info.avatar_url}}" width="222px" alt="Users profile pic">
    </div>
  </div>
  </div> 
 
  